site_name: MediaPipe4U Documentation
site_url: https://opensource.labijie.com/Mediapipe4u-plugin
edit_uri: blob/main/docs/
repo_url: https://github.com/endink/Mediapipe4u-plugin

docs_dir: docs/

theme:
  name: material
  palette:
    primary: teal
  icon: 
    annotation: material/plus-circle
  features:
    - content.code.annotate
    - content.code.copy
    - content.code.select
    - header.autohide
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.path
    - navigation.top
    - navigation.sections

# https://www.mkdocs.org/user-guide/writing-your-docs/
nav:
  - Home: index.md
  - Setup: 
    - install/requirement.md
    - install/install.md
    - install/gstreamer.md
  - User Guide: 
    - Vision AI: 
      - Concepts: 
        - vision/concepts/overview.md
        - vision/concepts/image_source.md
        - vision/concepts/image_consumer.md
      - Motion Capture:
        - vision/mocap/quick_start.md
        - vision/mocap/mediapipe_holistic_component.md
        - vision/mocap/mediapipe_anim_instance.md
        - vision/mocap/custom_skeleton.md
        - vision/mocap/texture_display.md
        - vision/mocap/twist_correction.md
        - vision/mocap/calibration.md
        - vision/mocap/runtime_behaviours.md
        - Solvers Details: 
          - vision/mocap/pose_solver.md
          - vision/mocap/location_solver.md
        - Advanced Usage:
          - vision/mocap/switch_anim_blueprint.md
          - vision/extensions/replace_mediapipe.md
      - Facial Capture: 
        - vision/facial/get_started.md
        - vision/facial/nvar.md
        - extensions/custom_face_solution.md
      - MediaPip4U Remoting: 
        - vision/remoting/get_started.md
    - Audio AI: 
      - TTS And ASR:
        - speech/quick_start.md
        - speech/setup_models.md
        - speech/local_tts.md
        - Generative TTS:
          - speech/f5_tts.md
        - speech/local_asr.md
        - speech/wakeup.md
        - speech/lipsync.md
    - Large Language Models (LLM):
        - llm/quick_start.md
  - Package And Deploy:
    - package/package_windows.md

      
  - License: 
    - licensing/index.md
    - licensing/free_license.md
    - licensing/paid_license.md
    - licensing/view_license.md
    - licensing/update_license.md
    - licensing/device_id.md

  - FAQ: 
    - faq/index.md

  - Update Logs: 
    - update_logs/index.md

exclude_docs: |
  _config.yml   
  debug.yml
  gemfile
  Dockerfile

extra_css:
  - stylesheets/extra.css

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/ultrabug/mkdocs-static-i18n
      name: mkdocs-static-i18n on Github

# https://ultrabug.github.io/mkdocs-static-i18n/setup/choosing-the-structure/
plugins:
  - tags
  - search
  - badges
  - i18n: 
      docs_structure: suffix
      reconfigure_material: true
      reconfigure_search: true
      fallback_to_default: true
      languages:
        - locale: zh
          name: 简体中文
          build: true
          default: true
          site_name: "MediaPipe4U 文档"
          nav_translations: 
            Home: 首页
            Setup: 安装
            FAQ: 常见问题
            License: 授权许可
            User Guide: 使用指南
            Concepts: 概念
            Tutorials: 教程
            Vision AI: 视觉 AI
            Motion Capture: 动作捕捉
            Facial Capture: 表情捕捉
            Quick Start Mocap: 动作捕捉快速入门
            Update Logs: 更新日志
            Solvers Details: 算解器细节
            Advanced Usage: 进阶用法
            Package And Deploy: 打包部署
            Audio AI: 声学 AI
            Large Language Models (LLM): 大语言模型 (LLM)
            TTS And ASR: 语音识别与合成
            Generative TTS: 生成式 TTS
        - locale: en
          name: English
          build: true
          site_name: "MediaPipe4U Documents"

#https://squidfunk.github.io/mkdocs-material/reference/admonitions/
markdown_extensions:
  - toc: 
      permalink: true
  - footnotes
  - admonition
  - pymdownx.details
  - pymdownx.superfences: 
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - attr_list #Grid
  - md_in_html
  - pymdownx.highlight:  #code block
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - tables
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.critic #formatting
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.emoji: 
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - def_list
  - pymdownx.tasklist:
      custom_checkbox: true
  